/* >>> ACCUEIL - bienvenue  */
/* #bienvenue{
    background-image: url('assets/accueil2.png') no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
} */
#bienvenue img{
    max-width: 1900px;
}

#marque-contain{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#coudre{
    object-fit: contain;
    justify-content: center;
    align-items: center;
    max-width: 505px;
    max-height: 599px;
    padding: 4rem;
}
#txt-marque{
    margin: 2rem;
    padding: 3rem;
}
h1{
    font-size: clamp(12px, 12vw, 24px);
    padding-bottom: 4rem;
    align-self: center;
    text-transform: uppercase;
    font-weight: 700;
}
#article1{
    font-size: clamp(8px, 12vw, 18px);
    line-height: normal;
    letter-spacing: 1px;
}
@media (max-width: 768px){
    #bienvenue img{
        width: 100%;
    }
    #marque-contain{
        flex-wrap: wrap;
    }
    #txt-marque{
        width: auto;
        padding: 1rem;
    }
    h1{
       padding-bottom: 1rem; 
    }
    
    #coudre{
        width: 50%;
        padding: 20px;
    }
}