
/* >>>> MARQUE <<<<< */
.story{
    width: 100%;
}
.container-d{
    width : 100%;
    display: flex;
}
article{
    font-size: 13px;
    padding: 4rem;
    text-align: center;
    justify-content: center;
    background-color: #e3e4d0 ;
}
.story{
    display: flex;
    flex-direction: column;
}
.damier{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.rectangle{
    display: flex;
}
.damier img{
    min-width: 13em;
    object-fit: contain;
    width: 50%;
}
.square{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-height: 900px;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

@media (max-width: 768px){
    .damier{
        flex-direction: column;
    }
    .container-d{
        display: flex;
        flex-wrap: wrap;
    }
    .pair{
        flex-direction: column-reverse;
    }
    .damier img{
        width: 100%;
    }
    .square{
        height: 800px;
        width: 100%;
        padding: 1rem;
    }
}