* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: #F4F4F4;
    height: 100vh;
    color: #111411;
    font-family: 'Palanquin', sans-serif;
}
/* >>>> header */

#sglr{
    display: flex;
    margin: 3px auto;
}
header{
    padding-top: 1rem;
}
.nav img{
    align-items: center;
}
.nav-list {
    border: solid 1px lightcoral;
    padding: 1rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav-item {
    text-transform: uppercase;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
    margin-right: 5rem;
}
.nav-item a {
    color: #111411;
    letter-spacing: 1.2px;
}
/* >>> bienvenue  */
#bienvenue{
    max-width: 1000px; 
}
.visuel{
    display: flex;
    max-width: 1200px;
    max-height: 736px;
}
/* >>>>>> section la marque  */
#marque-contain{
    margin: 2rem;
    display: flex;
}
#coudre{
    max-width: 505px;
    max-height: 599px;
    padding: 4rem;
}
#txt-marque{
    padding: 6rem;
    align-self: center;
}
h1{
    padding-bottom: 4rem;
    align-self: center;
    text-transform: uppercase;
    font-weight: 700;
}
#article1{
    width: 300px;
}

/* Footer */
footer{
    width: 100%;
    margin: 3rem 0;
    vertical-align: center;
    display: flex;
    background-color: #0c0c0c;
    color: white;
}
h4{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
}
#logos{
    color: #F4F4F4;
}
#contactez-moi{
    margin-top: 2rem;
    width: 300px;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
}
#arrow{
    margin-right: 1rem;
    background: #C4C4C4;
    width: 40px;
    height: 40px;
    border: none;
}

#email{
    margin-top: 1px;
    width: 300px;
    height: 40px;
    border: none;
}

.logo{
    width: 20%;
    padding: 4rem;
}
.rs{
    background-color: #F4F4F4;

}
.big-contain{
    width: 80%;
    padding: 2rem;
}
.small-contain{
    display: flex;
    margin-bottom: 1rem;
}
.preco{
    margin-right: 8rem;
}
#last-row{
    display: flex;
    justify-content:last baseline;
    border-top: solid #808080 1px;
    margin: 3rem 0 1rem 0;
    padding-top: 1rem;
}
#footer-list {
    padding: 1rem O;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}
.footer-item {
    margin-right: 3rem;
}
.footer-item a{
    color: white;
    letter-spacing: 1.2px;
}
@media (max-width: 900px){
    .marque-container{
        flex-wrap: wrap;
    }
}
/* page collection */

.collection{
    border: solid 4px turquoise;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: 1fr 1fr 1fr;
    /* grid-gap: 5px; */
    align-items: center;
    max-width: 1300px;
    /* width: 80%; */
    height: auto;
    justify-content: center;
    margin: 3px auto;
}

.collection img {
    object-fit: contain;
    /* width: 400px;
    height: 200px; */
}

/* .article1{
    grid-column: 1;
    grid-row: 1;
}
.article2{
    grid-column: 2;
    grid-row: 1;
}
.article3{
    grid-column: 3;
    grid-row: 1;
}
.article4{
    grid-column: 1;
    grid-row: 2;
}
.article5{
    grid-column: 2;
    grid-row: 2;
}
.article6{
    grid-column: 3;
    grid-row: 2;
}
.article7{
    grid-column: 1;
    grid-row: 3;
}
.article8{
    grid-column: 2;
    grid-row: 3;
}
.article8{
    grid-column: 3;
    grid-row: 3;
} */