* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #FFFEFB;
    color: #111411;
    font-family: 'Palanquin', sans-serif;
}

h1,h2,h4, button, .nav-item, .subtittle{
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
/* >>>> HEADER */
header{
    width: 100%;
    top: 0;
    right: 0;
    padding-top: 1rem;
    background-color: #FFFEFB;
}
#logo{
    display: flex;
    margin: 3px auto;
}

/* >>>DEMI MESURE<<<< */
#demi-mesure{
    margin: 1rem;
    height: 100vh;
}
#demi-mesure button{
    border: none;
    background-color: rgb(33, 85, 33);
    width: 300px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}
/* >>> TUTO <<< */
#container-tuto{
    margin: 1rem;
    height: 100vh;
}

/* >>>>> Footer <<<<<*/
footer{
    height: auto;
    width: 100%;
    background-color: #111411;
    color: #F4F4F4;
}
.container-grille{
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 100px;
}
#block1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    grid-column: 1;
    grid-row: 1/3;
}
.rs{
    display: flex;
    list-style-type: none;
}
.rs li{
    color: #F4F4F4;
    margin: 1rem;

}
.rs a{ 
    color: #F4F4F4;
}
#preco{
    grid-column: 2;
    grid-row: 1/2;
}
#newletter{
    color: #F4F4F4;
    grid-column: 3;
    grid-row: 1/2;
}
#baseline{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-top: solid #808080 1px;
    margin-top: 40px;
    margin-right: 30px;
    padding-top: 1rem;
    grid-column: span 3;
    grid-row: 2;
}
h4{
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-bottom: 1rem;
    padding-bottom: 10px;
}

#contactez-moi{
    margin-top: 3.2rem;
    width: 300px;
    height: 40px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    border: none;
}
#contactez-moi a{
    color: #111411;
}
#contactez-moi:hover{
    background-color: rgb(15, 153, 75);
}
#arrow{
    margin-right: 1rem;
    background: #C4C4C4;
    width: 40px;
    height: 40px;
    border: none;
}
#email{
    margin-top: 1.2rem;
    width: 250px;
    height: 40px;
    border: none;
}
#email::placeholder{
    margin-left: 5px;
}
#footer-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem O;
    list-style-type: none;
}
.footer-item {
    margin-right: 3rem;
    color: #F4F4F4;
}

.copyright{
    justify-content: flex-start;
}
.footer-item a{
    color: #F4F4F4;
    letter-spacing: 1.2px;
}

.footer-item a:hover{
    color: #808080;
}
@media (max-width: 900px){
    body{
        overflow-x: hidden;}
    /* >>main accueil<< */

    #bienvenue img{
        min-width: 500px;
    }
    #marque-contain{
        flex-wrap: wrap;
    }
    #txt-marque{
        width: 80%;
        padding: 3rem;
    }
    h1{
       padding-bottom: 1rem; 
    }
    
    #coudre{
        width: 50%;
        padding: 20px;
    }

    /* main produit  */
    .container-produit{
        width: 100%;
        flex-direction: column;
    }
    .text-produit{
        padding: 1rem;
        width: auto;
    }
    .images-produit{
        width: auto;
        display: flex;
        justify-content: center;
    }
    .text-produit ul li{
        text-align: center;
    }
    #liens{
        flex-direction: column;
        justify-content: center;
        margin: 12px 0;
    }
    .chemise1{
        width: 500px;
    }
    .chemise2{
        display: none;
    }
    /* >>footer<<< */
    .container-grille{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .sglr{
        width: 90%;
    }
    #preco{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #newletter{
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contactez-moi{
        width: 270px;
        height: 36px;
        border: none;
    }
    h4{
        font-size: 14px;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    label{
        font-size: 14px;
        justify-content: center;
    }
    #email{
        margin-top: 1px;
        width: 220px;
        height: 40px;
        border: none;
    }
    #arrow{
        width: 36px;
        height: 36px;
    }
    #baseline{
        border: none;
        margin: 0;
        padding: 0;
    }
    #footer-list{
        flex-direction: column;
    }

    .footer-item{
        margin: 10px 0;
        justify-content: center;
    }

    /* main marque */
    .damier{
        flex-direction: column;
    }
    .container-d{
        display: flex;
        flex-wrap: wrap;
    }
    .pair{
        flex-direction: column-reverse;
    }
    .damier img{
        width: 100%;
    }
    .square{
        height: 800px;
        width: 100%;
        padding: 1rem;
    }
